
body{
    margin: 0px;
    padding: 0px;
}

div#nav a {
    color: #000;
}

.header {
    height: 65px;
    line-height: 65px;
    background-color: #1A1A1A;
    color: #fff;
    padding: 0px 100px;
    position: relative;

}
.logo a {
    font-size: 26px;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
    letter-spacing: 1px;

}
.logo a:hover {
    color: #8B7F5A;
    text-decoration: none;
}
.logo {
    text-align: left;
}
.header-right #nav{
    padding: 0px;
}
.header-right {
    display: flex;
    justify-content: flex-end;
}
.header-right #nav a:hover {
    opacity: 100%;
}
.header-right #nav a {
    color: #fff;
    opacity: 50%;
    padding: 0px 20px;
    text-decoration: none;
    transition: all 0.5s;
}
.search-icon {
    padding: 0px 20px;
}
.drop-icon {
    padding-left: 20px;
}
.search-icon svg, .drop-icon svg {
    transition: all 0.5s;
    cursor: pointer;
}
.search-icon svg:hover path, .drop-icon svg:hover path {
    opacity: 1;
}
.box-menu {
    background-color: rgba(240, 236, 233, 0.8);
    max-width: 300px;
    box-shadow: inset 0px 0px 10px #cccccc;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding: 30px 40px;
    position: absolute;
    right: 0px;
    top: 100%;
    transition: all 0.5s;
    display: none;
    text-align: left;

}
.block .box-menu{
    display: block;
}
.drop-menu {
    margin-bottom: 140px;
}
.drop-menu ul {
    padding: 0px;
}
.drop-menu ul li {
    list-style: none;
}
.button-btn {
    text-align: center;
}
.drop-menu ul li a {
    color: #1A1A1A;
    display: block;
    line-height: normal;
    padding-bottom: 12px;
}
.address-text {
    margin-bottom: 45px;
}

.address-text h4 {
    color: #1A1A1A;
    font-size: 20px;
    margin-bottom: 8px;
}
.address-text p {
    color: #1a1a1a;
    line-height: normal;
    margin: 0;
    margin-bottom: 8px;
}
.address-text {
    margin-bottom: 45px;
}
.button-btn button {
    background-color: #8B7F5A;
    border: none;
    padding: 10px 25px;
    line-height: normal;
    color: #fff;
    font-size: 18px;
}
